html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}
body {
  font: Helvetica;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 500px;
  max-width: 600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

#ToDoMVC {
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
  min-width: 530px;
}

#buttonsLI a {
  min-width: 80px;
  font-size: 0.8rem;
}
#buttonsLI div {
  float: middle;
  text-align: center;
  min-width: 370px;
}
#renderAll,
#renderPending,
#renderCompleted {
  outline: none;
  cursor: pointer;
  background: transparent;
  color: black;
  border-radius: 4px;
  border: 1px solid white;
  /* margin: 0.2 0.2rem; */
  min-width: 100px;
  display: inline-block;
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); */
}
#renderAll:hover,
#renderPending:hover,
#renderCompleted:hover {
  /* background: rgba(175, 47, 47, 0.5); */
  border: 1px solid rgba(175, 47, 47, 0.3);
  transition: 0.3s;
  /* border: none; */
}
#renderAll:active,
#renderPending:active,
#renderCompleted:active,
#renderAll:focus,
#renderPending:focus,
#renderCompleted:focus {
  /* background: rgba(175, 47, 47, 0.5); */
  border: 1px solid rgba(175, 47, 47);
  transition: 0.3s;
  /* border: none; */
}
#submitTask {
  margin-left: 0.5rem;
  margin-right: 0;
}
.delete {
  outline: none;
  width: 40px;
  height: 40px;
  background: transparent;
  color: white;
  margin-left: 15px;
  border: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  transition: 400ms;
  transition-timing-function: linear;
}

li:hover .delete {
  color: rgba(175, 47, 47, 0.5);
  transition: 0s;
}
li:hover .delete:hover {
  color: rgba(175, 47, 47);
  position: relative;
}
#taskInput {
  outline: none;
  width: 100%;
  display: inline-block;
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
#taskInput:focus {
  box-shadow: 0 0 3pt 2pt rgba(175, 47, 47, 0.5);
}

[type="checkbox"] {
  margin-right: 1rem;
  font-size: 5rem;
}
/* li label {
  width: 24px;
  height: 24px;
  border: black;
  background: black;
} */

header {
  color: rgba(175, 47, 47);
  font-weight: 0;
  font-family: "Helvetica Neue";
  font-size: 100px;
  min-width: 530px;
  text-align: center;
  margin: 75px 0 75px 0;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  background: white;
  /* border-radius: 4px; */
  min-width: 500px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

li span {
  outline: none;
  display: inline-block;
  padding: 0.5rem;
  width: 500px;
  /* max-width: 500px; */
  min-width: 300px;
  font-size: 25px;
  border-radius: 4px;
  border: 2px solid transparent;
}
li span:focus {
  box-shadow: 0 0 3pt 2pt rgba(0, 0, 0, 0.5);
}
.noTasks {
  text-align: center;
}
