html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}
body {
  font: Helvetica;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 500px;
  max-width: 600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

#ToDoMVC {
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
  min-width: 530px;
}

.buttonDiv {
  text-align: center;
  min-width: 530px;
}
button {
  outline: none;
  cursor: pointer;
  background: rgba(175, 47, 47);
  color: white;
  border-radius: 5px;
  margin: 0.2 0.2rem;
  display: inline-block;
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
button:active {
  background: rgba(175, 47, 47, 0.5);
}
#submitTask {
  margin-left: 0.5rem;
  margin-right: 0;
}
#renderAll,
#renderPending,
#renderCompleted {
  min-width: 160px;
}
#renderAll,
#renderPending,
#renderCompleted:active {
  border: none;
}
.delete {
  margin-left: 25px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid grey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.delete:active {
  background: lightgrey;
  border: 2px solid lightgrey;
}
#taskInput {
  outline: none;
  width: 100%;
  display: inline-block;
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
#taskInput:focus {
  box-shadow: 0 0 3pt 2pt rgba(175, 47, 47, 0.5);
}

[type="checkbox"] {
  margin-right: 1rem;
  font-size: 5rem;
}

header {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Helvetica Neue";
  font-size: 100px;
  min-width: 530px;
  text-align: center;
  margin: 75px 0 75px 0;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: white;
  border-radius: 4px;
  min-width: 500px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

li span {
  outline: none;
  display: inline-block;
  padding: 0.5rem;
  width: 500px;
  max-width: 350px;
  min-width: 300px;
  font-size: 25px;
  border-radius: 4px;
  border: 2px solid transparent;
}
li span:focus {
  box-shadow: 0 0 3pt 2pt rgba(0, 0, 0, 0.5);
}
.noTasks {
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-weight: 50;
  min-width: 500px;
  padding: 1rem 1rem 1rem 1rem;
}
